# Most requirements are already pulled in through the pyproject.toml
# This file lists the ones that are extra for generating docs on read the docs

# Use autoprogram for the autodoc CLI
sphinxcontrib.autoprogram
# Due to read the docs libclang linking in conf.py we want to use clang 6
clang == 16.0.1.1
