name: Python package

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - id: tox-env
      run: |
        VERSION=${{ matrix.python-version }}
        echo "environment=${VERSION//.}" >> $GITHUB_OUTPUT
    - name: Install LLVM and Clang
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "16.0"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox 

        # Make libclang available for the parsing of the c files with the python clang package
        sudo ln -s ./llvm/libclang-16.so /usr/lib/x86_64-linux-gnu/libclang-16.so
    - name: Test with tox
      run: |
        tox -e py${{ steps.tox-env.outputs.environment }}

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "16.0"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          
          # Make libclang available for the parsing of the c files with the python clang package
          sudo ln -s ./llvm/libclang-16.so /usr/lib/x86_64-linux-gnu/libclang-16.so
      - name: Test with tox
        run: |
          tox -e cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./tests/coverage.xml
          verbose: true

  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "16.0"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          
          # Make libclang available for the parsing of the c files with the python clang package
          sudo ln -s ./llvm/libclang-16.so /usr/lib/x86_64-linux-gnu/libclang-16.so
      - name: Static code checks
        env:
          TOX_SKIP_ENV: '^(?!check-)'
        run: |
          tox

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "16.0"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          
          # Make libclang available for the parsing of the c files with the python clang package
          sudo ln -s ./llvm/libclang-16.so /usr/lib/x86_64-linux-gnu/libclang-16.so
      - name: Build docs
        run: |
          tox -e docs
  sphinx:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sphinx-version: ["three", "four"]
    steps:
      - uses: actions/checkout@v3
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "16.0"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          
          # Make libclang available for the parsing of the c files with the python clang package
          sudo ln -s ./llvm/libclang-16.so /usr/lib/x86_64-linux-gnu/libclang-16.so
      - name: Test with tox
        run: |
          tox -e sphinx-${{ matrix.sphinx-version }}
