name: Python package

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - id: tox-env
      run: |
        VERSION=${{ matrix.python-version }}
        echo "environment=${VERSION//.}" >> $GITHUB_OUTPUT
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox 

        # Make libclang available for the parsing of the c files with the python clang package
        sudo ln -s /usr/lib/x86_64-linux-gnu/libclang-14.so.1 /usr/lib/x86_64-linux-gnu/libclang.so
    - name: Test with tox
      run: |
        tox -e py${{ steps.tox-env.outputs.environment }}

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox codecov
          
          # Make libclang available for the parsing of the c files with the python clang package
          sudo ln -s /usr/lib/x86_64-linux-gnu/libclang-14.so.1 /usr/lib/x86_64-linux-gnu/libclang.so
      - name: Test with tox
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          tox cov
          cp tests/.coverage .
          codecov

  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          
          # Make libclang available for the parsing of the c files with the python clang package
          sudo ln -s /usr/lib/x86_64-linux-gnu/libclang-14.so.1 /usr/lib/x86_64-linux-gnu/libclang.so
      - name: Test with tox
        env:
          TOX_SKIP_ENV=^(\?\!check-)
        run: |
          tox

  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
          
          # Make libclang available for the parsing of the c files with the python clang package
          sudo ln -s /usr/lib/x86_64-linux-gnu/libclang-14.so.1 /usr/lib/x86_64-linux-gnu/libclang.so
      - name: Test with tox
        run: |
          tox -e docs
